services:
  heizung-monitoring:
    image: odin568/heizung-monitoring:latest
    container_name: heizung-monitoring
    ports:
      - 8080:8080
    restart: always
    environment:
      - homematic_sid=XML_API_SID
  prometheus:
    # use correct image for arch
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    depends_on:
      - heizung-monitoring
    ports:
      - 9090:9090
    restart: always
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/data:/prometheus
  grafana:
    image: grafana/grafana:12.3.2
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    restart: always
    environment:
      - GF_AUTH_PROXY_AUTO_SIGN_UP=false
      - GF_AUTH_PROXY_ENABLED=true
      - GF_LIVE_MAX_CONNECTIONS=0
      - TZ=Europe/Berlin
    volumes:
      - ./grafana/data:/var/lib/grafana
  nginx:
  #https://community.grafana.com/t/how-to-make-one-live-dashboard-public/12819
    image: nginx:1.29.5
    container_name: nginx
    depends_on:
      - grafana
    ports:
      - 3001:3001
      - 3002:3002
    restart: always
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf
